.BarchartContainer{

    padding: 5px;

height: 100%;

width: 100%;

// background-color: yellowgreen;


    .charts{

        width: 100%;

      height: 120px;

        // max-height: 90%;



    }
}