.topBox{

    padding: 10px;

    display: flex;
    flex-direction: column;
height: 100%;
h1{

    font-weight: bold;


}

.list{

    flex: 1;

display: flex;

flex-direction: column;
justify-content: space-between;


gap: 5px;
color: white;


.listItem{

    display: flex;
    align-items: center;
justify-content: space-between;
    gap: 5px;

    .user{
display: flex;
align-items:center;
gap: 5px;

        img{

            height: 30px;

            width: 30px;

            object-fit: cover;
            border-radius: 50%;
        }
        .userText{

            font-weight: bold;
        }
    }
}

}


}